@mixin default-menu() {
  .menu_section {
    li {

      i.fa {
        color: #C4CFDA;
        width: 25px;
      }

      a {
        margin-bottom: 6px;
        color: #E7E7E7;
        position: relative;
        display: block;


        &:hover {
          color: #F2F5F7;
          background-color: rgba(255, 255, 255, 0.06);
        }

        &:focus {
          background: transparent;
        }
      }

      &.active {
        border-right: 5px solid #1ABB9C;

        a {
          background: linear-gradient(#334556, #2C4257), #2A3F54;
          box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
        }
      }
    }
  }
}

@mixin compact-menu() {
  .menu_section {
    li {
      text-align: center;

      i.fa {
        font-size: 25px;
        margin-bottom: 5px;
        width: 100%;
      }

      a {
        font-size: 10px;
        font-weight: 400;
        padding: 13px 0;
      }
    }
  }
}

@mixin normal-menu() {
  .menu_section {
    li {
      i.fa {
        font-size: 18px;
      }

      a {
        font-weight: 500;
        padding: 13px 15px;
      }
    }
  }
}