/*
 * DataTables overrides
 */
.dataTables_paginate a {
    padding: 6px 9px !important;
    background: #ddd !important;
    border-color: #ddd !important;
}

.paging_full_numbers a.paginate_active {
    background-color: rgba(38, 185, 154, 0.59) !important;
    border-color: rgba(38, 185, 154, 0.59) !important;
}

button.DTTT_button, div.DTTT_button, a.DTTT_button {
    border: 1px solid #E7E7E7 !important;
    background: #E7E7E7 !important;
    box-shadow: none !important;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_info {
    width: 60%;
    float: left;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

table {
    &.dataTable {
        th.focus, td.focus {
            outline: 2px solid #1ABB9C !important;
            outline-offset: -1px;
        }
    }
    &.display {
        margin: 0 auto;
        clear: both;
        width: 100%;
        thead th {
            padding: 8px 18px 8px 10px;
            border-bottom: 1px solid black;
            font-weight: bold;
            cursor: pointer;
        }
        tfoot th {
            padding: 3px 18px 3px 10px;
            border-top: 1px solid black;
            font-weight: bold;
        }
        tr.heading2 td {
            border-bottom: 1px solid #aaa;
        }
        td {
            padding: 3px 10px;
            &.center {
                text-align: center;
            }
        }
        thead {
            th:active, td:active {
                outline: none;
            }
        }
    }
}

.dataTables_scroll {
    clear: both;
}

.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}

.top .dataTables_info {
    float: none;
}

.clear {
    clear: both;
}

.dataTables_empty {
    text-align: center;
}

tfoot input {
    margin: 0.5em 0;
    width: 100%;
    color: #444;
    &.search_init {
        color: #999;
    }
}

td {
    &.group {
        background-color: #d1cfd0;
        border-bottom: 2px solid #A19B9E;
        border-top: 2px solid #A19B9E;
    }
    &.details {
        background-color: #d1cfd0;
        border: 2px solid #A19B9E;
    }
}

.example_alt_pagination div.dataTables_info {
    width: 40%;
}

.paging_full_numbers {
    width: 400px;
    height: 22px;
    line-height: 22px;
    a {
        &:active {
            outline: none;
        }
        &:hover {
            text-decoration: none;
        }
        &.paginate_button, &.paginate_active {
            border: 1px solid #aaa;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            padding: 2px 5px;
            margin: 0 3px;
            cursor: pointer;
        }
        &.paginate_button {
            background-color: #ddd;
            &:hover {
                background-color: #ccc;
                text-decoration: none !important;
            }
        }
        &.paginate_active {
            background-color: #99B3FF;
        }
    }
}

table.display tr {
    &.even.row_selected td {
        background-color: #B0BED9;
    }
    &.odd.row_selected td {
        background-color: #9FAFD1;
    }
}

div.box {
    height: 100px;
    padding: 10px;
    overflow: auto;
    border: 1px solid #8080FF;
    background-color: #E5E5FF;
}
