.bs-docs-sidebar {
    .nav {
        > li {
            > a {
                display: block;
                padding: 4px 6px;
            }
        }
    }
}

.bs-glyphicons {
    margin  : 0 -10px 20px;
    overflow: hidden;
    @media (min-width: 768px) {
        margin-right: 0;
        margin-left : 0;
    }

    .glyphicon {
        margin-top   : 5px;
        margin-bottom: 10px;
        font-size    : 24px;
    }

    .glyphicon-class {
        display   : block;
        text-align: center;
        word-wrap : break-word;
    }

    li {
        float           : left;
        width           : 25%;
        height          : 115px;
        padding         : 10px;
        font-size       : 10px;
        line-height     : 1.4;
        text-align      : center;
        background-color: #f9f9f9;
        border          : 1px solid #fff;
        @media (min-width: 768px) {
            width    : 12.5%;
            font-size: 12px;
        }

        &:hover {
            color           : #fff;
            background-color: #1ABB9C;
        }
    }
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style  : none;
}
