@media (max-width: 1200px) {
    .graph {
        zoom  : 85%;
        height: inherit;
    }
}
/**  ------------------------------------------  **/
.bs-docs-sidebar .nav > li > a {
    display: block;
    padding: 4px 6px;
}
/* *********  custom accordion  **************************** */
#integration-list {
    width  : 100%;
    margin : 0 auto;
    display: table;
}

#integration-list ul {
    padding: 0;
    margin : 20px 0;
    color  : #555;
}

#integration-list ul > li {
    list-style: none;
    border-top: 1px solid #ddd;
    display   : block;
    padding   : 15px;
    overflow  : hidden;
}

#integration-list ul:last-child {
    border-bottom: 1px solid #ddd;
}

#integration-list ul > li:hover {
    background: #efefef;
}

.expand {
    display        : block;
    text-decoration: none;
    color          : #555;
    cursor         : pointer;
}

.expand h2 {
    width: 85%;
    float: left;
}

#left,
#right {
    display: table;
}

#sup {
    display       : table-cell;
    vertical-align: middle;
    width         : 80%;
}

.detail a {
    text-decoration: none;
    color          : #C0392B;
    border         : 1px solid #C0392B;
    padding        : 6px 10px 5px;
    font-size      : 13px;
    margin-right   : 7px;
}

.detail {
    margin     : 10px 0;
    display    : none;
    line-height: 22px;
    height     : 150px;
}

.detail span {
    margin: 0;
}

.right-arrow {
    width      : 10px;
    float      : right;
    font-weight: bold;
    font-size  : 20px;
}

.accordion .panel {
    margin-bottom: 5px;
    border-radius: 0;
    border-bottom: 1px solid #efefef;
}

.accordion .panel-heading {
    background: #F2F5F7;
    padding   : 13px;
    width     : 100%;
    display   : block;
}

.accordion .panel:hover {
    background: #F2F5F7;
}

.x_panel {
    position                   : relative;
    width                      : 100%;
    margin-bottom              : 10px;
    padding                    : 10px 17px;
    display                    : inline-block;
    background                 : #fff;
    border                     : 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside   : avoid;
    column-break-inside        : avoid;
    opacity                    : 1;
    -moz-transition            : all 0.2s ease;
    -o-transition              : all 0.2s ease;
    -webkit-transition         : all 0.2s ease;
    -ms-transition             : all 0.2s ease;
    transition                 : all 0.2s ease;
}

.x_content {
    padding   : 0 5px 6px;
    position  : relative;
    width     : 100%;
    float     : left;
    clear     : both;
    margin-top: 5px;
}

.x_content h4 {
    font-size  : 16px;
    font-weight: 500;
}

.demo-placeholder {
    height: 280px;
}
/** Contacts **/

.pagination.pagination-split li {
    display     : inline-block;
    margin-right: 3px;
}

.pagination.pagination-split li a {
    border-radius        : 4px;
    color                : #768399;
    -moz-border-radius   : 4px;
    -webkit-border-radius: 4px;
}
/** Contacts **/
/* *********  /custom accordion  **************************** */
/* *********  dashboard widget  **************************** */
.error-number {
    font-size  : 90px;
    line-height: 90px;
    margin     : 20px 0;
}

.mid_center {
    width     : 370px;
    margin    : 0 auto;
    text-align: center;
    padding   : 10px 20px;
}

.degrees:after {
    content    : 'o';
    position   : relative;
    top        : -12px;
    font-size  : 13px;
    font-weight: 300;
}

.daily-weather .day {
    font-size    : 14px;
    border-top   : 2px solid rgba(115, 135, 156, 0.36);
    text-align   : center;
    border-bottom: 2px solid rgba(115, 135, 156, 0.36);
    padding      : 5px 0;
}

.weather-days .col-sm-2 {
    overflow: hidden;
    width   : 16.66666667%;
}

.weather .row {
    margin-bottom: 0;
}
/* *********  tables styling  ******************************* */
.bulk-actions {
    display: none;
}

.dataTables_paginate a {
    padding     : 6px 9px !important;
    background  : #ddd !important;
    border-color: #ddd !important;
}

.paging_full_numbers a.paginate_active {
    background-color: rgba(38, 185, 154, 0.59) !important;
    border-color    : rgba(38, 185, 154, 0.59) !important;
}

.dataTables_paginate a {
    background: #ff0000;
}

.dataTables_wrapper {
    position: relative;
    clear   : both;
    zoom    : 1;
}

.dataTables_processing {
    position        : absolute;
    top             : 50%;
    left            : 50%;
    width           : 250px;
    height          : 30px;
    margin-left     : -125px;
    margin-top      : -15px;
    padding         : 14px 0 2px;
    border          : 1px solid #ddd;
    text-align      : center;
    color           : #999;
    font-size       : 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width     : 50%;
    float     : right;
    text-align: right;
}

.dataTables_info {
    width: 60%;
    float: left;
}

.dataTables_paginate {
    float     : right;
    text-align: right;
}

.dataTables_scroll {
    clear: both;
}

.dataTables_scrollBody {
    *margin-top               : -1px;
    -webkit-overflow-scrolling: touch;
}

.bottom,
.top {}

.top .dataTables_info {
    float: none;
}

.clear {
    clear: both;
}

.dataTables_empty {
    text-align: center;
}

.example_alt_pagination div.dataTables_info {
    width: 40%;
}

.paging_full_numbers {
    width      : 400px;
    height     : 22px;
    line-height: 22px;
}

.paging_full_numbers a:active {
    outline: none;
}

.paging_full_numbers a:hover {
    text-decoration: none;
}

.paging_full_numbers a.paginate_active,
.paging_full_numbers a.paginate_button {
    border               : 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius   : 5px;
    padding              : 2px 5px;
    margin               : 0 3px;
    cursor               : pointer;
}

.paging_full_numbers a.paginate_button {
    background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
    background-color: #ccc;
    text-decoration : none !important;
}

.paging_full_numbers a.paginate_active {
    background-color: #99B3FF;
}
/* *********  /tables styling  ****************************** */
/* *********  /dashboard widget  **************************** */
/* *********  widgets  *************************************** */
.info-number .badge {
    font-size  : 10px;
    font-weight: normal;
    line-height: 13px;
    padding    : 2px 6px;
    position   : absolute;
    right      : 2px;
    top        : 8px;
}

.dashboard-widget {
    background   : #f6f6f6;
    border-top   : 5px solid #79C3DF;
    border-radius: 3px;
    padding      : 5px 10px 10px;
}

.dashboard-widget .dashboard-widget-title {
    font-weight   : normal;
    border-bottom : 1px solid #c1cdcd;
    margin        : 0 0 10px;
    padding-bottom: 5px;
    padding-left  : 40px;
    line-height   : 30px;
}

.dashboard-widget .dashboard-widget-title i {
    font-size    : 100%;
    margin-left  : -35px;
    margin-right : 10px;
    color        : #33a1c9;
    padding      : 3px 6px;
    border       : 1px solid #abd9ea;
    border-radius: 5px;
    background   : #fff;
}

.dashboard-widget-content {
    padding-top: 9px;
}

.dashboard-widget-content .sidebar-widget {
    width         : 50%;
    display       : inline-block;
    vertical-align: top;
    background    : #fff;
    border        : 1px solid #abd9ea;
    border-radius : 5px;
    text-align    : center;
    float         : right;
    padding       : 2px;
    margin-top    : 10px;
}

.widget_summary {
    width  : 100%;
    display: inline-flex;
}

.widget_summary .w_left {
    float     : left;
    text-align: left;
}

.widget_summary .w_center {
    float: left;
}

.widget_summary .w_right {
    float     : left;
    text-align: right;
}

.widget_summary .w_right span {
    font-size: 20px;
}

.w_20 {
    width: 20%;
}

.w_25 {
    width: 25%;
}

.w_55 {
    width: 55%;
}
/** top tiles  */
/** /top tiles **/
.dashboard_graph {
    background: #fff;
    padding   : 7px 10px;
}

.dashboard_graph .col-md-3,
.dashboard_graph .col-md-9 {
    padding: 0;
}

a.user-profile {
    color: #5E6974 !important;
}

.user-profile img {
    width        : 29px;
    height       : 29px;
    border-radius: 50%;
    margin-right : 10px;
}

.media .profile_thumb {
    border       : 1px solid;
    width        : 50px;
    height       : 50px;
    margin       : 5px 10px 5px 0;
    border-radius: 50%;
    padding      : 9px 12px;
}

.media .profile_thumb i {
    font-size: 30px;
}

.media .date {
    background   : #ccc;
    width        : 52px;
    margin-right : 10px;
    border-radius: 10px;
    padding      : 5px;
}

.media .date .month {
    margin    : 0;
    text-align: center;
    color     : #fff;
}

.media .date .day {
    text-align : center;
    color      : #fff;
    font-size  : 27px;
    margin     : 0;
    line-height: 27px;
    font-weight: bold;
}

.event .media-body a.title {
    font-weight: bold;
}

.event .media-body p {
    margin-bottom: 0;
}
/* *********  /widgets  *************************************** */
/* *********  iconts-display  **************************** */
/* *********  /iconts-display  **************************** */
/** tile stats **/
/** /tile stats **/
/** inbox **/
.mail_content {
    background   : none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    margin-top   : 20px;
    min-height   : 500px;
    padding      : 10px 11px;
    width        : 100%;
}

.list-btn-mail {
    margin-bottom: 15px;
}

.list-btn-mail.active {
    border-bottom: 1px solid #39B3D7;
    padding      : 0 0 14px;
}

.list-btn-mail > i {
    float     : left;
    font-size : 18px;
    font-style: normal;
    width     : 33px;
}

.list-btn-mail > .cn {
    background   : none repeat scroll 0 0 #39B3D7;
    border-radius: 12px;
    color        : #FFFFFF;
    float        : right;
    font-style   : normal;
    padding      : 0 5px;
}

.button-mail {
    margin    : 0 0 15px !important;
    text-align: left;
    width     : 100%;
}

.modal-footer .btn+.btn {
    margin-bottom: 5px;
    margin-right : 5px;
}

.mail_list_column {
    border-left: 1px solid #DBDBDB;
}

.mail_view {
    border-left: 1px solid #DBDBDB;
}

.mail_list {
    width        : 100%;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 2px;
    display      : inline-block;
}

.mail_list .left {
    width       : 5%;
    float       : left;
    margin-right: 3%;
}

.mail_list .right {
    width: 90%;
    float: left;
}

.mail_list h3 {
    font-size  : 15px;
    font-weight: bold;
    margin     : 0 0 6px;
}

.mail_list h3 small {
    float      : right;
    color      : #ADABAB;
    font-size  : 11px;
    line-height: 20px;
}

.mail_list .badge {
    padding   : 3px 6px;
    font-size : 8px;
    background: #BAB7B7;
}
@media (max-width: 767px) {
    .mail_list {
        margin-bottom: 5px;
        display      : inline-block;
    }
}

.mail_heading h4 {
    font-size     : 18px;
    border-bottom : 1px solid #ddd;
    padding-bottom: 10px;
    margin-top    : 20px;
}

.attachment {
    margin-top: 30px;
}

.attachment ul {
    width        : 100%;
    list-style   : none;
    padding-left : 0;
    display      : inline-block;
    margin-bottom: 30px;
}

.attachment ul li {
    float        : left;
    width        : 150px;
    margin-right : 10px;
    margin-bottom: 10px;
}

.attachment ul li img {
    height       : 150px;
    border       : 1px solid #ddd;
    padding      : 5px;
    margin-bottom: 10px;
}

.attachment ul li span {
    float: right;
}

.attachment .file-name {
    float: left;
}

.attachment .links {
    width  : 100%;
    display: inline-block;
}

.compose {
    padding               : 0;
    position              : fixed;
    bottom                : 0;
    right                 : 0;
    background            : #fff;
    border                : 1px solid #D9DEE4;
    border-right          : 0;
    border-bottom         : 0;
    border-top-left-radius: 5px;
    z-index               : 9999;
    display               : none;
}

.compose .compose-header {
    padding               : 5px;
    background            : #169F85;
    color                 : #fff;
    border-top-left-radius: 5px;
}

.compose .compose-header .close {
    text-shadow: 0 1px 0 #ffffff;
    line-height: 0.8;
}

.compose .compose-body .editor.btn-toolbar {
    margin: 0;
}

.compose .compose-body .editor-wrapper {
    height       : 100%;
    min-height   : 50px;
    max-height   : 180px;
    border-radius: 0;
    border-left  : none;
    border-right : none;
    overflow     : auto;
}

.compose .compose-footer {
    padding: 10px;
}
/** /inbox **/
/* *********  form design  **************************** */
.editor.btn-toolbar {
    zoom      : 1;
    background: #F7F7F7;
    margin    : 5px 2px;
    padding   : 3px 0;
    border    : 1px solid #EFEFEF;
}

.input-group {
    margin-bottom: 10px;
}

.ln_solid {
    border-top      : 1px solid #e5e5e5;
    color           : #ffffff;
    background-color: #ffffff;
    height          : 1px;
    margin          : 20px 0;
}

.form-control {
    border-radius: 0;
    width        : 100%;
}

.form-horizontal .control-label {
    padding-top: 8px;
}

.form-control:focus {
    border-color: #CCD0D7;
    box-shadow  : none !important;
}

.checkbox {}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left : 0;
}

.form-control-feedback {
    margin-top : 8px;
    height     : 23px;
    color      : #bbb;
    line-height: 24px;
    font-size  : 15px;
}

.form-control-feedback.left {
    border-right: 1px solid #ccc;
    left        : 13px;
}

.form-control-feedback.right {
    border-left: 1px solid #ccc;
    right      : 13px;
}

.form-control.has-feedback-left {
    padding-left: 45px;
}

.form-control.has-feedback-right {
    padding-right: 45px;
}

.form-group {
    margin-bottom: 10px;
}

.validate {
    margin-top: 10px;
}

.invalid-form-error-message {
    margin-top: 10px;
    padding   : 5px;
}

.invalid-form-error-message.filled {
    border-left: 2px solid #E74C3C;
}

.bad input,
.bad select,
.bad textarea {
    border           : 1px solid #CE5454;
    box-shadow       : 0 0 4px -2px #CE5454;
    position         : relative;
    left             : 0;
    -moz-animation   : 0.7s 1 shake linear;
    -webkit-animation: 0.7s 1 shake linear;
}

.item input,
.item textarea {
    -webkit-transition: 0.42s;
    -moz-transition   : 0.42s;
    transition        : 0.42s;
}
/* alerts (when validation fails) */
.item .alert {
    float           : left;
    margin          : 0 0 0 20px;
    padding         : 3px 10px;
    color           : #FFF;
    border-radius   : 3px 4px 4px 3px;
    background-color: #CE5454;
    max-width       : 170px;
    white-space     : pre;
    position        : relative;
    left            : -15px;
    opacity         : 0;
    z-index         : 1;
    transition      : 0.15s ease-out;
}

.item .alert::after {
    content     : '';
    display     : block;
    height      : 0;
    width       : 0;
    border-color: transparent #CE5454 transparent transparent;
    border-style: solid;
    border-width: 11px 7px;
    position    : absolute;
    left        : -13px;
    top         : 1px;
}

.item.bad .alert {
    left   : 0;
    opacity: 1;
}

.inl-bl {
    display: inline-block;
}

.well .markup-heading {}

.well .markup {
    background      : #fff;
    color           : #777;
    position        : relative;
    padding         : 45px 15px 15px;
    margin          : 15px 0 0;
    background-color: #fff;
    border-radius   : 0 0 4px 4px;
    box-shadow      : none;
}

.well .markup::after {
    content       : 'Example';
    position      : absolute;
    top           : 15px;
    left          : 15px;
    font-size     : 12px;
    font-weight   : bold;
    color         : #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* ***** autocomplete ***** */
/* ***** /autocomplete *****/
/* ***** buttons ********/
.open .dropdown-toggle.btn-success {
    background: #169F85;
}
/* ***** /buttons *******/
/* *********  /form design  **************************** */
/* *********  form textarea  **************************** */
/* *********  /form textarea  **************************** */
/* *********  glyphicons  **************************** */
.bs-glyphicons {
    margin  : 0 -10px 20px;
    overflow: hidden;
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style  : none;
}

.bs-glyphicons li {
    float           : left;
    width           : 25%;
    height          : 115px;
    padding         : 10px;
    font-size       : 10px;
    line-height     : 1.4;
    text-align      : center;
    background-color: #f9f9f9;
    border          : 1px solid #fff;
}

.bs-glyphicons .glyphicon {
    margin-top   : 5px;
    margin-bottom: 10px;
    font-size    : 24px;
}

.bs-glyphicons .glyphicon-class {
    display   : block;
    text-align: center;
    word-wrap : break-word;
}

.bs-glyphicons li:hover {
    color           : #fff;
    background-color: #1ABB9C;
}
@media (min-width: 768px) {
    .bs-glyphicons {
        margin-right: 0;
        margin-left : 0;
    }

    .bs-glyphicons li {
        width    : 12.5%;
        font-size: 12px;
    }
}
/* *********  /glyphicons  **************************** */
/* *********  form tags input  **************************** */
.tagsinput {
    border    : 1px solid #CCC;
    background: #FFF;
    padding   : 6px 6px 0;
    width     : 300px;
    overflow-y: auto;
}

.tagsinput span.tag a {
    font-weight    : bold;
    color          : #82ad2b;
    text-decoration: none;
    font-size      : 11px;
}

.tagsinput input {
    width      : 80px;
    margin     : 0;
    font-family: helvetica;
    font-size  : 13px;
    border     : 1px solid transparent;
    padding    : 3px;
    background : transparent;
    color      : #000;
    outline    : 0;
}

.tagsinput div {
    display: block;
    float  : left;
}

.tags_clear {
    clear : both;
    width : 100%;
    height: 0;
}

.not_valid {
    background: #FBD8DB !important;
    color     : #90111A !important;
}
/* *********  /form tags input  **************************** */
/** Tabs **/
/** /Tabs **/
/* *********  timeline  **************************** */
.tag {
    line-height: 1;
    background : #1ABB9C;
    color      : #fff !important;
}

.tag:after {
    content       : ' ';
    height        : 30px;
    width         : 0;
    position      : absolute;
    left          : 100%;
    top           : 0;
    margin        : 0;
    pointer-events: none;
    border-top    : 14px solid transparent;
    border-bottom : 14px solid transparent;
    border-left   : 11px solid #1ABB9C;
}

.timeline h2.title {
    position : relative;
    font-size: 16px;
    margin   : 0;
}
/* *********  /timeline  **************************** */
/* *********  profile/social  **************************** */
/* *********  /profile/social  **************************** */
/* *********  widgets  **************************** */
.dashboard_graph .x_title {
    padding: 5px 5px 7px;
}

.dashboard_graph .x_title h3 {
    margin     : 0;
    font-weight: normal;
}

.chart {
    position     : relative;
    display      : inline-block;
    width        : 110px;
    height       : 110px;
    margin-top   : 5px;
    margin-bottom: 5px;
    text-align   : center;
}

.chart canvas {
    position: absolute;
    top     : 0;
    left    : 0;
}

.percent {
    display    : inline-block;
    line-height: 110px;
    z-index    : 2;
    font-size  : 18px;
}

.percent:after {
    content    : '%';
    margin-left: 0.1em;
    font-size  : 0.8em;
}

.angular {
    margin-top: 100px;
}

.angular .chart {
    margin-top: 0;
}

.widget {
    min-width: 250px;
    max-width: 310px;
}

.widget_tally_box .btn-group button {
    text-align: center;
}

.widget_tally_box .btn-group button {
    color           : inherit;
    font-weight     : 500;
    background-color: #f5f5f5;
    border          : 1px solid #e7e7e7;
}


.pie_bg {
    border-bottom        : 1px solid rgba(101, 204, 182, 0.16);
    padding-bottom       : 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius   : 4px;
    border-radius        : 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#ffffff', endColorstr='#ffe6e6e6', GradientType=0))
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    padding-bottom       : 10px;
    -webkit-box-shadow   : 0 4px 6px -6px #222;
    -moz-box-shadow      : 0 4px 6px -6px #222;
    box-shadow           : 0 4px 6px -6px #222;
}

.widget_tally_box .flex {
    display: flex;
}



.widget_tally_box p,
.widget_tally_box span {
    text-align: center;
}

.widget_tally_box .name {
    text-align: center;
    margin    : 25px;
}

.widget_tally_box .name_title {
    text-align: center;
    margin    : 5px;
}

.widget_tally_box ul.legend {
    margin: 0;
}

.widget_tally_box ul.legend p,
.widget_tally_box ul.legend span {
    text-align: left;
}

.widget_tally_box ul.legend li .icon {
    font-size: 20px;
    float    : left;
    width    : 14px;
}

.widget_tally_box ul.legend li .name {
    font-size    : 14px;
    margin       : 5px 0 0 14px;
    text-overflow: ellipsis;
    float        : left;
}

.widget_tally_box ul.legend p {
    display: inline-block;
    margin : 0;
}

.widget_tally_box ul.verticle_bars li {
    height: 140px;
    width : 23%;
}

.widget .verticle_bars li .progress.vertical.progress_wide {
    width: 65%;
}

/* ********* /widgets **************************** */

.divider {
    border-bottom: 1px solid #ddd;
    margin       : 10px;
}

.divider-dashed {
    border-top      : 1px dashed #e7eaec;
    background-color: #ffffff;
    height          : 1px;
    margin          : 10px 0;
}

.tasks li {
    border-bottom: 1px dotted #e6e6e6;
    padding      : 8px 0;
}

.project_progress .progress {
    margin-bottom: 3px !important;
    margin-top   : 5px;
}

.projects .list-inline {
    margin: 0;
}


.project_detail p {
    margin-bottom: 10px;
}

.project_detail p.title {
    font-weight  : bold;
    margin-bottom: 0;
}
/* ********* pricing **************************** */
/* ********* /pricing **************************** */
/* ********* media gallery **************************** */

.thumbnail .image {
    height  : 120px;
    overflow: hidden;
}

.caption {
    padding   : 9px 5px;
    background: #F7F7F7;
}

.caption p {
    margin-bottom: 5px;
}

.thumbnail {
    height  : 190px;
    overflow: hidden;
}

.view {
    overflow  : hidden;
    position  : relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor    : default;
}

.view .content,
.view .mask {
    position: absolute;
    width   : 100%;
    overflow: hidden;
    top     : 0;
    left    : 0;
}

.view img {
    display : block;
    position: relative;
}

.view .tools {
    text-transform: uppercase;
    color         : #fff;
    text-align    : center;
    position      : relative;
    font-size     : 17px;
    padding       : 3px;
    background    : rgba(0, 0, 0, 0.35);
    margin        : 43px 0 0;
}

.mask.no-caption .tools {
    margin: 90px 0 0;
}

.view .tools a {
    display    : inline-block;
    color      : #FFF;
    font-size  : 18px;
    font-weight: 400;
    padding    : 0 4px;
}

.view p {
    font-family: Georgia, serif;
    font-style : italic;
    font-size  : 12px;
    position   : relative;
    color      : #fff;
    padding    : 10px 20px 20px;
    text-align : center;
}

.view a.info {
    display        : inline-block;
    text-decoration: none;
    padding        : 7px 14px;
    background     : #000;
    color          : #fff;
    text-transform : uppercase;
    box-shadow     : 0 0 1px #000;
}

.view-first img {
    transition: all 0.2s linear;
}

.view-first .mask {
    opacity         : 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition      : all 0.4s ease-in-out;
}

.view-first .tools {
    transform : translateY(-100px);
    opacity   : 0;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    transform : translateY(100px);
    opacity   : 0;
    transition: all 0.2s linear;
}

.view-first:hover img {
    transform: scale(1.1);
}

.view-first:hover .mask {
    opacity: 1;
}

.view-first:hover .tools,
.view-first:hover p {
    opacity  : 1;
    transform: translateY(0px);
}

.view-first:hover p {
    transition-delay: 0.1s;
}
/* ********* /media gallery **************************** */
/* ********* verticle tabs **************************** */
/*! * bootstrap-vertical-tabs - v1.2.1 * https://dbtek.github.io/bootstrap-vertical-tabs * 2014-11-07 * Copyright (c) 2014 İsmail Demirbilek * License: MIT */

.tabs-left,
.tabs-right {
    border-bottom: none;
    padding-top  : 2px;
}

.tabs-left {
    border-right: 1px solid #F7F7F7;
}

.tabs-right {
    border-left: 1px solid #F7F7F7;
}

.tabs-left > li,
.tabs-right > li {
    float        : none;
    margin-bottom: 2px;
}

.tabs-left > li {
    margin-right: -1px;
}

.tabs-right > li {
    margin-left: -1px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:focus,
.tabs-left > li.active > a:hover {
    border-bottom-color: #F7F7F7;
    border-right-color : transparent;
}

.tabs-right > li.active > a,
.tabs-right > li.active > a:focus,
.tabs-right > li.active > a:hover {
    border-bottom    : 1px solid #F7F7F7;
    border-left-color: transparent;
}

.tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    margin-right : 0;
    display      : block;
    background   : #F7F7F7;
    text-overflow: ellipsis;
    overflow     : hidden;
}

.tabs-right > li > a {
    border-radius: 0 4px 4px 0;
    margin-right : 0;
    background   : #F7F7F7;
    text-overflow: ellipsis;
    overflow     : hidden;
}

.sideways {
    margin-top: 50px;
    border    : none;
    position  : relative;
}

.sideways > li {
    height       : 20px;
    width        : 120px;
    margin-bottom: 100px;
}

.sideways > li > a {
    border-bottom     : 1px solid #ddd;
    border-right-color: transparent;
    text-align        : center;
    border-radius     : 4px 4px 0 0;
}

.sideways > li.active > a,
.sideways > li.active > a:focus,
.sideways > li.active > a:hover {
    border-bottom-color: transparent;
    border-right-color : #ddd;
    border-left-color  : #ddd;
}

.sideways.tabs-left {
    left: -50px;
}

.sideways.tabs-right {
    right: -50px;
}

.sideways.tabs-right > li {
    -webkit-transform: rotate(90deg);
    -moz-transform   : rotate(90deg);
    -ms-transform    : rotate(90deg);
    -o-transform     : rotate(90deg);
    transform        : rotate(90deg);
}

.sideways.tabs-left > li {
    -webkit-transform: rotate(-90deg);
    -moz-transform   : rotate(-90deg);
    -ms-transform    : rotate(-90deg);
    -o-transform     : rotate(-90deg);
    transform        : rotate(-90deg);
}
/* ********* /verticle tabs **************************** */
/* ********* moris **************************** */
/* ********* /moris **************************** */
/* ********* ecommerce **************************** */
/* ********* /ecommerce **************************** */
/** login **/
/** /login **/
/** signup **/

form:after {
    content   : '.';
    display   : block;
    height    : 0;
    clear     : both;
    visibility: hidden;
}


/** signup **/
/** NProgress **/
/** /NProgress **/
/** bootstrap-wysiwyg **/

.editor-wrapper {
    min-height                : 250px;
    background-color          : white;
    border-collapse           : separate;
    border                    : 1px solid rgb(204, 204, 204);
    padding                   : 4px;
    box-sizing                : content-box;
    -webkit-box-shadow        : rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
    box-shadow                : rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
    border-top-right-radius   : 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius : 3px;
    border-top-left-radius    : 3px;
    overflow                  : scroll;
    outline                   : none;
}

.voiceBtn {
    width             : 20px;
    color             : transparent;
    background-color  : transparent;
    transform         : scale(2.0, 2.0);
    -webkit-transform : scale(2.0, 2.0);
    -moz-transform    : scale(2.0, 2.0);
    border            : transparent;
    cursor            : pointer;
    box-shadow        : none;
    -webkit-box-shadow: none;
}
/** /bootstrap-wysiwyg **/
/** Select2 **/
/** /Select2 **/
/** Switchery **/
/** /Switchery **/
/** Normalize.css **/
/** /Normalize.css **/
/** Cropper **/
/** /Cropper **/
/** jQuery Smart Wizard **/
/** jQuery Smart Wizard **/
/** bootstrap-progressbar **/

.dashboard_graph p {
    margin: 0 0 4px;
}
/** bootstrap-progressbar **/
/** PNotify **/

.alert-success {
    color           : #ffffff;
    background-color: rgba(38, 185, 154, 0.88);
    border-color    : rgba(38, 185, 154, 0.88);
}

.alert-info {
    color           : #E9EDEF;
    background-color: rgba(52, 152, 219, 0.88);
    border-color    : rgba(52, 152, 219, 0.88);
}

.alert-warning {
    color           : #E9EDEF;
    background-color: rgba(243, 156, 18, 0.88);
    border-color    : rgba(243, 156, 18, 0.88);
}

.alert-danger,
.alert-error {
    color           : #E9EDEF;
    background-color: rgba(231, 76, 60, 0.88);
    border-color    : rgba(231, 76, 60, 0.88);
}

.ui-pnotify.dark .ui-pnotify-container {
    color           : #E9EDEF;
    background-color: rgba(52, 73, 94, 0.88);
    border-color    : rgba(52, 73, 94, 0.88);
}

.custom-notifications {
    position: fixed;
    margin  : 15px;
    right   : 0;
    float   : right;
    width   : 400px;
    z-index : 4000;
    bottom  : 0;
}

.notifications li {
    float     : right;
    margin    : 3px;
    width     : 36px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.notifications li:last-child {
    margin-left: 0;
}

.notifications a {
    display        : block;
    text-align     : center;
    text-decoration: none;
    text-transform : uppercase;
    padding        : 9px 8px;
}

.tabbed_notifications .text {
    padding      : 5px 15px;
    height       : 140px;
    border-radius: 7px;
    box-shadow   : 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.tabbed_notifications div p {
    display: inline-block;
}

.tabbed_notifications h2 {
    font-weight   : bold;
    text-transform: uppercase;
    width         : 80%;
    float         : left;
    height        : 20px;
    text-overflow : ellipsis;
    overflow      : hidden;
    display       : block;
}

.tabbed_notifications .close {
    padding: 5px;
    color  : #E9EDEF;
    float  : right;
    opacity: 1;
}
/** /PNotify **/
/** FullCalendar **/
/** /FullCalendar **/
/** Dropzone.js **/
/** /Dropzone.js **/
