*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

:active,
:focus,
:visited {
    outline: 0;
}

a {
    color          : $waikawa-gray;
    text-decoration: none;
    outline        : 0;

    &:active {
        outline: 0;
    }

    &:focus {
        outline: 0;
        outline: none;
    }

    a:focus,
    a:hover {
        text-decoration: none;
    }

    &:visited {
        outline: 0;
    }

    &.DTTT_button {
        border    : 1px solid $mercury2 !important;
        background: $mercury2 !important;
        box-shadow: none !important;
    }

    &.hiddenanchor {
        display: none;
    }

    &.user-profile {
        color: #5E6974 !important;
    }

    &.star {
        color: #428bca !important;
    }

    &.btn-danger,
    &.btn-primary,
    &.btn-success,
    &.btn-warning {
        color: #fff;
    }
}

.active {
    a {
        span {
            &.fa {
                text-align  : right !important;
                margin-right: 4px;
            }
        }
    }
}

.alignleft {
    float       : left;
    margin-right: 15px;
}

.avatar {
    img {
        border-radius: 50%;
        max-width    : 45px;
    }
}

article {
    .media {
        width: 100%;
    }
}

button {
    margin-bottom: 5px;
    margin-right : 5px;

    &.DTTT_button {
        border    : 1px solid $mercury2 !important;
        background: $mercury2 !important;
        box-shadow: none !important;
    }
}

.center-margin {
    margin: 0 auto;
    float : none!important;
}

.clear {
    clear: both;
}

.container {
    width  : 100%;
    padding: 0;
}

body {
    color      : #73879C;
    background : #2A3F54;
    font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;
    font-size  : 13px;
    font-weight: 400;
    line-height: 1.471;

    .container {
        &.body {
            .right_col {
                background: #F7F7F7;
            }
        }
    }
}

.demo-placeholder {
    height: 280px;
}

div {
    &[data-role="editor-toolbar"] {
        -webkit-user-select: none;
        -moz-user-select   : none;
        -ms-user-select    : none;
        user-select        : none;
    }

    &.box {
        height          : 100px;
        padding         : 10px;
        overflow        : auto;
        border          : 1px solid #8080FF;
        background-color: #E5E5FF;
    }

    &.DTTT_button {
        border    : 1px solid $mercury2 !important;
        background: $mercury2 !important;
        box-shadow: none !important;
    }
}

.fixed_height_200 {
    height: 200px;
}

.fixed_height_320 {
    height: 320px;
}

.fixed_height_390 {
    height: 390px;
}

form {
    &:after {
        content   : '.';
        display   : block;
        height    : 0;
        clear     : both;
        visibility: hidden;
    }
}

footer {
    background: #fff;
    padding   : 15px 20px;
    display   : block;
    @media (min-width: 992px) {
        margin-left: 230px;
    }
}

.footer_fixed {
    footer {
        position: fixed;
        left    : 0;
        bottom  : 0;
        width   : 100%;
        @media (min-width: 768px) {
            margin-left: 0;
        }
    }

    .nav-sm {
        footer {
            @media (min-width: 768px) {
                margin-left: 0;
            }
        }
    }
}

.graph {
    @media (max-width: 1200px) {
        zoom  : 85%;
        height: inherit;
    }
}

.grid_slider {
    .col-md-6 {
        padding: 0 40px;
    }
}

h2 {
    font-size  : 18px;
    font-weight: 400;
}

h3 {
    &.degrees {
        font-size  : 22px;
        font-weight: 400;
        text-align : center;
    }
}

h4 {
    .graph_title {
        margin    : 7px;
        text-align: center;
    }
}

h5 {
    &.graph_title {
        text-align : left;
        margin-left: 10px;

        i {
            margin-right: 10px;
            font-size   : 17px;
        }
    }
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top   : 10px;
    margin-bottom: 10px;
}

header {
    width: 100%;
}

img {
    &.avatar {
        height               : 32px;
        width                : 32px;
        float                : left;
        display              : inline-block;
        -webkit-border-radius: 2px;
        -moz-border-radius   : 2px;
        border-radius        : 2px;
        padding              : 2px;
        background           : #f7f7f7;
        border               : 1px solid #e6e6e6;
    }
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    background: #FAEDEC;
    border    : 1px solid #E85445;
}

.left {
    float: left;
}

legend {
    padding-bottom: 7px;
    font-size     : 18px;
    color         : inherit;
}

.line_30 {
    line-height: 30px;
}

.main_container {
    .top_nav {
        display    : block;
        margin-left: 230px;
    }
}

.main_content {
    padding: 10px 20px;
}

.no-padding {
    padding: 0 !important;
}

.overflow_hidden {
    overflow: hidden;
}

p {
    &.parsley-error {
        color           : #B94A48;
        background-color: #F2DEDE;
        border          : 1px solid #EED3D7;
    }

    &.parsley-success {
        color           : #468847;
        background-color: #DFF0D8;
        border          : 1px solid #D6E9C6;
    }
}

.row {
    margin-right: -10px;
    margin-left : -10px;
}

span {
    &.right {
        float    : right;
        font-size: 14px !important;
    }

    &.section {
        display      : block;
        width        : 100%;
        padding      : 0;
        margin-bottom: 20px;
        font-size    : 21px;
        line-height  : inherit;
        color        : #333;
        border       : 0;
        border-bottom: 1px solid #e5e5e5;
    }

    &.tag {
        -moz-border-radius   : 2px;
        -webkit-border-radius: 2px;
        display              : block;
        float                : left;
        padding              : 5px 9px;
        text-decoration      : none;
        background           : #1ABB9C;
        color                : #F1F6F7;
        margin-right         : 5px;
        font-weight          : 500;
        margin-bottom        : 5px;
        font-family          : helvetica;

        a {
            color: #F1F6F7 !important;
        }
    }
}

textarea {
    padding       : 10px;
    vertical-align: top;
    width         : 200px;

    &:focus {
        outline-style: solid;
        outline-width: 2px;
    }
}

.toggle {
    float      : left;
    margin     : 0;
    padding-top: 16px;
    width      : 70px;

    a {
        padding: 15px 15px 0;
        margin : 0;
        cursor : pointer;

        i {
            font-size: 26px;
        }
    }
}

ul {
    &.bar_tabs {
        overflow     : visible;
        background   : #F5F7FA;
        height       : 25px;
        margin       : 21px 0 14px;
        padding-left : 14px;
        position     : relative;
        z-index      : 1;
        width        : 100%;
        border-bottom: 1px solid #E6E9ED;

        > li {
            border       : 1px solid #E6E9ED;
            color        : #333 !important;
            margin-top   : -17px;
            margin-left  : 8px;
            background   : #fff;
            border-bottom: none;
            border-radius: 4px 4px 0 0;

            &.active {
                border-right: 6px solid #D3D6DA;
                border-top  : 0;
                margin-top  : -15px;

                a {
                    border-bottom: none;
                }
            }

            a {
                padding                : 10px 17px;
                background             : #F5F7FA;
                margin                 : 0;
                border-top-right-radius: 0;

                &:hover {
                    border: 1px solid transparent;
                }
            }
        }

        &.right {
            padding-right: 14px;

            li {
                float: right;
            }
        }
    }

    .count2 {
        width       : 100%;
        margin-left : 1px;
        border      : 1px solid $alto;
        border-left : 0;
        border-right: 0;
        padding     : 10px 0;

        li {
            width     : 30%;
            text-align: center;

            h3 {
                font-weight: 400;
                margin     : 0;
            }

            span {
                font-weight: 300;
            }
        }
    }

    &.messages {
        padding   : 0;
        list-style: none;

        li {
            border-bottom: 1px dotted #e6e6e6;
            padding      : 8px 0;

            img {
                &.avatar {
                    height               : 32px;
                    width                : 32px;
                    float                : left;
                    display              : inline-block;
                    -webkit-border-radius: 2px;
                    -moz-border-radius   : 2px;
                    border-radius        : 2px;
                    padding              : 2px;
                    background           : #f7f7f7;
                    border               : 1px solid #e6e6e6;
                }
            }

            .message_date {
                float     : right;
                text-align: right;
            }

            .message_wrapper {
                margin-left : 50px;
                margin-right: 40px;

                blockquote {
                    padding    : 0 10px;
                    margin     : 0;
                    border-left: 5px solid #eee;
                }

                h4 {
                    &.heading {
                        font-weight  : 600;
                        margin       : 0;
                        cursor       : pointer;
                        margin-bottom: 10px;
                        line-height  : 100%;
                    }
                }
            }
        }
    }

    &.msg_list {
        li {
            background: #f7f7f7;
            padding   : 5px;
            display   : flex;
            margin    : 6px 6px 0;
            width     : 96% !important;

            &:last-child {
                margin-bottom: 6px;
                padding      : 10px;
            }

            a {
                padding: 3px 5px !important;

                .image {
                    img {
                        border-radius        : 2px 2px 2px 2px;
                        -webkit-border-radius: 2px 2px 2px 2px;
                        float                : left;
                        margin-right         : 10px;
                        width                : 11%;
                    }
                }

                .message {
                    display  : block !important;
                    font-size: 11px;
                }

                .time {
                    font-size  : 11px;
                    font-style : italic;
                    font-weight: bold;
                    position   : absolute;
                    right      : 35px;
                }
            }
        }
    }

    &.notifications {
        float        : right;
        display      : block;
        margin-bottom: 7px;
        padding      : 0;
        width        : 100%;
    }

    &.parsley-errors-list {
        list-style  : none;
        color       : #E74C3C;
        padding-left: 0;
    }

    &.project_files {
        li {
            margin-bottom: 5px;

            a {
                i {
                    width: 20px;
                }
            }
        }
    }

    &.quick-list {
        width       : 45%;
        padding-left: 0;
        display     : inline-block;

        li {
            padding-left  : 10px;
            list-style    : none;
            margin        : 0;
            padding-bottom: 6px;
            padding-top   : 4px;
            white-space   : nowrap;
            text-overflow : ellipsis;
            overflow      : hidden;

            i {
                padding-right: 10px;
                color        : #757679;
            }
        }
    }

    &.social {
        li {
            border: 0;
        }
    }

    &.stats-overview {
        border-bottom : 1px solid #e8e8e8;
        padding-bottom: 10px;
        margin-bottom : 10px;

        li {
            display     : inline-block;
            text-align  : center;
            padding     : 0 15px;
            width       : 30%;
            font-size   : 14px;
            border-right: 1px solid #e8e8e8;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border-right: 0;
            }

            .name {
                font-size: 12px;
            }

            .value {
                font-size  : 14px;
                font-weight: bold;
                display    : block;
            }
        }
    }

    &.timeline {
        li {
            position     : relative;
            border-bottom: 1px solid #e8e8e8;
            clear        : both;
        }
    }

    &.to_do {
        padding: 0;

        li {
            background           : #f3f3f3;
            -webkit-border-radius: 3px;
            -moz-border-radius   : 3px;
            border-radius        : 3px;
            position             : relative;
            padding              : 7px;
            margin-bottom        : 5px;
            list-style           : none;
        }

        p {
            margin: 0;
        }
    }

    &.top_profiles {
        height: 330px;
        width : 100%;

        li {
            margin : 0;
            padding: 3px 5px;

            &:nth-child(odd) {
                background-color: #eee;
            }
        }
    }

    &.user_data {
        li {
            margin-bottom: 6px;

            p {
                margin-bottom: 0;
            }

            .progress {
                width: 90%;
            }
        }
    }

    &.verticle_bars {
        width: 100%;

        li {
            width : 23%;
            height: 200px;
            margin: 0;
        }
    }

    &.widget_profile_box {
        width      : 100%;
        height     : 42px;
        padding    : 3px;
        background : #ececec;
        margin-top : 40px;
        margin-left: 1px;

        li {
            &:first-child {
                width: 25%;
                float: left;

                a {
                    float: left;
                }
            }

            &:last-child {
                width: 25%;
                float: right;

                a {
                    float: right;
                }
            }

            a {
                font-size    : 22px;
                text-align   : center;
                width        : 35px;
                height       : 35px;
                border       : 1px solid rgba(52, 73, 94, 0.44);
                display      : block;
                border-radius: 50%;
                padding      : 0;

                &:hover {
                    color : #1ABB9C !important;
                    border: 1px solid rgba(38, 185, 154, 1);
                }
            }

            .profile_img {
                width : 85px;
                height: 85px;
                margin: -28px 0 0;
            }
        }
    }

    &.widget_tally {
        width: 100%;

        li {
            width         : 100%;
            padding       : 2px 10px;
            border-bottom : 1px solid #ECECEC;
            padding-bottom: 4px;
        }

        .count {
            width     : 30%;
            float     : left;
            text-align: right;
        }

        .month {
            width: 70%;
            float: left;
        }
    }
}
