/* 
    Created on : Mar 2, 2017, 12:16:14 PM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/

button {
    &.DTTT_button{
        border: 1px solid #E7E7E7 !important;
        background: #E7E7E7 !important;
        box-shadow: none !important;
    }
}