/*
    Created on : Feb 15, 2017, 6:52:54 PM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-55,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-55 {
    width: 50%;
    margin-bottom: 10px;
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    @media (min-width: 768px) {
        width: 20%;
    }
    @media (min-width: 992px) {
        width: 20%;
    }
    @media (min-width: 1200px) {
        width: 20%;
    }
}

.grid_slider .col-md-6 {
    padding: 0 40px;
}

.left_col {
    background: #2A3F54;

    .mCSB_scrollTools {
        width: 6px;
    }

    .mCSB_dragger {
        max-height: 400px !important;
    }
}

.right_col {
    @media (max-width: 991px) {
        padding: 10px !important;
    }
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}
