/*
    Created on : Feb 15, 2017, 6:55:38 PM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/

$default-dark: #34495E;
$default-blue: #3498DB;
$default-light-blue: #73879C;
$default-sky-blue: #50C1CF;
$default-aero-blue: #9CC2CB;
$default-purple: #9B59B6;
$default-green: #1ABB9C;
$default-orange: #F39C12;
$default-red: #E74C3C;

@mixin bg-color($bgcolor, $bordercolor, $color) {
    background: $bgcolor !important;
    border: 1px solid $bordercolor !important;
    color: $color;
}

.blue {
    color: $default-blue;
}
.purple {
    color:$default-purple;
}
.green {
    color: $default-green;
}
.aero {
    color: $default-aero-blue;
}
.red {
    color: $default-red;
}
.dark {
    color: $default-dark;
}

.border-blue {
    border-color: $default-blue !important;
}
.border-purple {
    border-color: $default-purple !important;
}
.border-green {
    border-color: $default-green !important;
}
.border-aero {
    border-color: $default-aero-blue !important;
}
.border-red {
    border-color: $default-red !important;
}
.border-dark {
    border-color: $default-dark !important;
}

.bg-white {
    @include bg-color(white, white, $default-light-blue);
}
.bg-green {
    @include bg-color($default-green, $default-green, white);
}
.bg-red {
    @include bg-color($default-red, $default-red, white);
}
.bg-blue {
    @include bg-color($default-blue, $default-blue, white);
}
.bg-orange {
    @include bg-color($default-orange, $default-orange, white);
}
.bg-purple {
    @include bg-color($default-purple, $default-purple, white);
}
.bg-blue-sky {
    @include bg-color($default-sky-blue, $default-sky-blue, white);
}