/* 
    Created on : Feb 15, 2017, 10:48:07 PM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/

.container {
    width: 100%;
    padding: 0
}

.main_container{
    .top_nav{
        display: block;
        margin-left: 230px;
    }
}
