.dropdown-menu {
    border                 : medium none;
    box-shadow             : none;
    display                : none;
    float                  : left;
    font-size              : 12px;
    left                   : 0;
    list-style             : none outside none;
    padding                : 0;
    position               : absolute;
    text-shadow            : none;
    top                    : 100%;
    z-index                : 9998;
    border                 : 1px solid #D9DEE4;
    border-top-left-radius : 0;
    border-top-right-radius: 0;

    &.msg_list {
        span {
            white-space: normal;
        }
    }

    > li {
        > a {
            color: $waikawa-gray;
        }
    }

    a {
        cursor: pointer;
    }
}
