.bad {
    input,
    select,
    textarea {
        border           : 1px solid #CE5454;
        box-shadow       : 0 0 4px -2px #CE5454;
        position         : relative;
        left             : 0;
        -moz-animation   : 0.7s 1 shake linear;
        -webkit-animation: 0.7s 1 shake linear;
    }
}

.editor {
    .btn-toolbar {
        zoom      : 1;
        background: #F7F7F7;
        margin    : 5px 2px;
        padding   : 3px 0;
        border    : 1px solid $gallery;
    }
}

.form-control {
    border-radius: 0;
    width        : 100%;

    &:focus {
        border-color: #CCD0D7;
        box-shadow  : none !important;
    }

    &.has-feedback-left {
        padding-left: 45px;
    }

    &.has-feedback-right {
        padding-right: 45px;
    }
}

.form-control-feedback {
    margin-top : 8px;
    height     : 23px;
    color      : #bbb;
    line-height: 24px;
    font-size  : 15px;

    .left {
        border-right: 1px solid #ccc;
        left        : 13px;
    }

    .right {
        border-left: 1px solid #ccc;
        right      : 13px;
    }
}

.form-horizontal {
    .control-label {
        padding-top: 8px;
    }

    .form-group {
        margin-right: 0;
        margin-left : 0;
    }
}

.form-group {
    margin-bottom: 10px;
}

.inl-bl {
    display: inline-block;
}

.input-group {
    margin-bottom: 10px;
}

.invalid-form-error-message {
    margin-top: 10px;
    padding   : 5px;

    &.filled {
        border-left: 2px solid #E74C3C;
    }
}

.item {
    .alert {
        float           : left;
        margin          : 0 0 0 20px;
        padding         : 3px 10px;
        color           : #FFF;
        border-radius   : 3px 4px 4px 3px;
        background-color: #CE5454;
        max-width       : 170px;
        white-space     : pre;
        position        : relative;
        left            : -15px;
        opacity         : 0;
        z-index         : 1;
        transition      : 0.15s ease-out;

        &::after {
            content     : '';
            display     : block;
            height      : 0;
            width       : 0;
            border-color: transparent #CE5454 transparent transparent;
            border-style: solid;
            border-width: 11px 7px;
            position    : absolute;
            left        : -13px;
            top         : 1px;
        }
    }

    &.bad {
        .alert {
            left   : 0;
            opacity: 1;
        }
    }

    input,
    textarea {
        -webkit-transition: 0.42s;
        -moz-transition   : 0.42s;
        transition        : 0.42s;
    }
}

.ln_solid {
    border-top      : 1px solid #e5e5e5;
    color           : #ffffff;
    background-color: #ffffff;
    height          : 1px;
    margin          : 20px 0;
}

.validate {
    margin-top: 10px;
}

.well {
    .markup {
        background      : #fff;
        color           : #777;
        position        : relative;
        padding         : 45px 15px 15px;
        margin          : 15px 0 0;
        background-color: #fff;
        border-radius   : 0 0 4px 4px;
        box-shadow      : none;

        &::after {
            content       : 'Example';
            position      : absolute;
            top           : 15px;
            left          : 15px;
            font-size     : 12px;
            font-weight   : bold;
            color         : #bbb;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}
