/* 
    Created on : Feb 16, 2017, 10:11:32 AM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/

.graph {
    @media (max-width: 1200px) {
        zoom: 85%;
        height: inherit;
    }
}
