.attachment {
    margin-top: 30px;

    .file-name {
        float: left;
    }

    .links {
        width  : 100%;
        display: inline-block;
    }

    ul {
        width        : 100%;
        list-style   : none;
        padding-left : 0;
        display      : inline-block;
        margin-bottom: 30px;

        li {
            float        : left;
            width        : 150px;
            margin-right : 10px;
            margin-bottom: 10px;

            img {
                height       : 150px;
                border       : 1px solid #ddd;
                padding      : 5px;
                margin-bottom: 10px;
            }

            span {
                float: right;
            }
        }
    }
}

.button-mail {
    margin    : 0 0 15px !important;
    text-align: left;
    width     : 100%;
}

.compose {
    padding               : 0;
    position              : fixed;
    bottom                : 0;
    right                 : 0;
    background            : #fff;
    border                : 1px solid #D9DEE4;
    border-right          : 0;
    border-bottom         : 0;
    border-top-left-radius: 5px;
    z-index               : 9999;
    display               : none;

    .compose-body {
        .editor {
            &.btn-toolbar {
                margin: 0;
            }
        }

        .editor-wrapper {
            height       : 100%;
            min-height   : 50px;
            max-height   : 180px;
            border-radius: 0;
            border-left  : none;
            border-right : none;
            overflow     : auto;
        }
    }

    .compose-footer {
        padding: 10px;
    }

    .compose-header {
        padding               : 5px;
        background            : #169F85;
        color                 : #fff;
        border-top-left-radius: 5px;

        .close {
            text-shadow: 0 1px 0 #ffffff;
            line-height: 0.8;
        }
    }
}

.list-btn-mail {
    margin-bottom: 15px;

    &.active {
        border-bottom: 1px solid #39B3D7;
        padding      : 0 0 14px;
    }

    > .cn {
        background   : none repeat scroll 0 0 #39B3D7;
        border-radius: 12px;
        color        : #FFFFFF;
        float        : right;
        font-style   : normal;
        padding      : 0 5px;
    }

    > i {
        float     : left;
        font-size : 18px;
        font-style: normal;
        width     : 33px;
    }
}

.mail_content {
    background   : none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    margin-top   : 20px;
    min-height   : 500px;
    padding      : 10px 11px;
    width        : 100%;
}

.mail_heading {
    h4 {
        font-size     : 18px;
        border-bottom : 1px solid #ddd;
        padding-bottom: 10px;
        margin-top    : 20px;
    }
}

.mail_list {
    width        : 100%;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 2px;
    display      : inline-block;
    @media (max-width: 767px) {
        margin-bottom: 5px;
        display      : inline-block;
    }

    .badge {
        padding   : 3px 6px;
        font-size : 8px;
        background: #BAB7B7;
    }

    h3 {
        font-size  : 15px;
        font-weight: bold;
        margin     : 0 0 6px;
    }

    .left {
        width       : 5%;
        float       : left;
        margin-right: 3%;
    }

    .right {
        width: 90%;
        float: left;
    }

    small {
        float      : right;
        color      : #ADABAB;
        font-size  : 11px;
        line-height: 20px;
    }
}

.mail_list_column {
    border-left: 1px solid #DBDBDB;
}

.mail_view {
    border-left: 1px solid #DBDBDB;
}

.modal-footer {
    .btn {
        &+.btn {
            margin-bottom: 5px;
            margin-right : 5px;
        }
    }
}
