.animate {
    -webkit-animation-duration       : 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode      : both;
    -moz-animation-duration          : 0.5s;
    -moz-animation-timing-function   : ease;
    -moz-animation-fill-mode         : both;
    -o-animation-duration            : 0.5s;
    -o-animation-timing-function     : ease;
    -o-animation-fill-mode           : both;
    -ms-animation-duration           : 0.5s;
    -ms-animation-timing-function    : ease;
    -ms-animation-fill-mode          : both;
    animation-duration               : 0.5s;
    animation-timing-function        : ease;
    animation-fill-mode              : both;
}

.clearfix {
    &:after {
        content   : '.';
        display   : block;
        height    : 0;
        clear     : both;
        visibility: hidden;
    }
}

#content {
    form {
        .submit {
            float      : left;
            margin-left: 38px;
        }
    }
}

.login {
    background: #F7F7F7;

    .fa-paw {
        font-size: 26px;
    }
}

.login_box {
    padding: 20px;
    margin : auto;
}

.login_content {
    margin     : 0 auto;
    padding    : 25px 0 0;
    position   : relative;
    text-align : center;
    text-shadow: 0 1px 0 #fff;
    min-width  : 280px;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    form {
        margin  : 20px 0;
        position: relative;

        div {
            a {
                font-size: 12px;
                margin   : 10px 15px 0 0;
            }
        }

        input {
            &[type="text"],
            &[type="email"],
            &[type="password"] {
                -webkit-border-radius: 3px;
                -moz-border-radius   : 3px;
                -ms-border-radius    : 3px;
                -o-border-radius     : 3px;
                border-radius        : 3px;
                -webkit-box-shadow   : 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
                -moz-box-shadow      : 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
                -ms-box-shadow       : 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
                -o-box-shadow        : 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
                box-shadow           : 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
                border               : 1px solid #c8c8c8;
                color                : #777;
                margin               : 0 0 20px;
                width                : 100%;
            }

            &[type="text"]:focus,
            &[type="email"]:focus,
            &[type="password"]:focus {
                -webkit-box-shadow: 0 0 2px #AA77B4 inset;
                -moz-box-shadow   : 0 0 2px #ed1c24 inset;
                -ms-box-shadow    : 0 0 2px #ed1c24 inset;
                -o-box-shadow     : 0 0 2px #ed1c24 inset;
                box-shadow        : 0 0 2px #A97AAD inset;
                background-color  : #fff;
                border            : 1px solid #A878AF;
                outline           : none;
            }

            &[type="submit"] {
                float      : left;
                margin-left: 38px;
            }
        }
    }

    h1 {
        font          : normal 25px Helvetica, Arial, sans-serif;
        letter-spacing: -0.05em;
        line-height   : 20px;
        margin        : 10px 0 30px;

        &:after,
        &:before {
            content : '';
            height  : 1px;
            position: absolute;
            top     : 10px;
            width   : 27%;
            content : '';
            height  : 1px;
            position: absolute;
            top     : 10px;
            width   : 20%;
        }

        &:after {
            background: rgb(126, 126, 126);
            background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: -webkit-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: -o-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: -ms-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: linear-gradient(to right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
            right     : 0;
        }

        &:before {
            background: rgb(126, 126, 126);
            background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: -webkit-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: -o-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: -ms-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: linear-gradient(to left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
            left      : 0;
        }
    }

    .btn-default {
        &:hover {
            text-decoration: none;
        }
    }

    #username {
        background-position: 10px 10px !important;
    }

    #password {
        background-position: 10px -53px !important;
    }

    .reset_pass {
        margin-top  : 13px !important;
        margin-right: 39px;
        float       : right;
    }
}

.login_form,
.registration_form {
    position: absolute;
    top     : 0;
    width   : 100%;
}

.login_form {
    z-index: 22;
}

.login_wrapper {
    right    : 0;
    margin   : 5% auto 0;
    max-width: 350px;
    position : relative;
}

.registration_form {
    z-index: 21;
    opacity: 0;
    width  : 100%;
}

.reset_pass {
    margin-top: 10px !important;
}

.separator {
    border-top : 1px solid #D8D8D8;
    margin-top : 10px;
    padding-top: 10px;
}

#signin,
#signup {
    &:target {
        ~ {
            .login_wrapper {
                .login_form,
                .registration_form {
                    z-index                : 22;
                    -webkit-animation-name : fadeInLeft;
                    -moz-animation-name    : fadeInLeft;
                    -ms-animation-name     : fadeInLeft;
                    -o-animation-name      : fadeInLeft;
                    animation-name         : fadeInLeft;
                    -webkit-animation-delay: 0.1s;
                    -moz-animation-delay   : 0.1s;
                    -o-animation-delay     : 0.1s;
                    -ms-animation-delay    : 0.1s;
                    animation-delay        : 0.1s;
                    -webkit-animation-name : fadeOutLeft;
                    -moz-animation-name    : fadeOutLeft;
                    -ms-animation-name     : fadeOutLeft;
                    -o-animation-name      : fadeOutLeft;
                    animation-name         : fadeOutLeft;
                }
            }
        }
    }
}
