/* 
    Created on : Feb 16, 2017, 9:20:57 AM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/

#nprogress {
    .bar {
        background: #1ABB9C;
    }

    .peg {
        box-shadow: 0 0 10px #1ABB9C, 0 0 5px #1ABB9C;
    }

    .spinner-icon {
        border-top-color: #1ABB9C;
        border-left-color: #1ABB9C;
    }
}
