/* 
    Created on : Feb 15, 2017, 11:13:48 PM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/
.panel_toolbox {
    float: right;
    min-width: 70px;

    > li {
        float: left;
        cursor: pointer;

        > a {
            padding: 5px;
            color: #C5C7CB;
            font-size: 14px;
        }

        > a:hover {
            background: #F5F7FA;
        }
    }
}

.x_panel{
     position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}