/* 
    Created on : Feb 16, 2017, 9:40:24 AM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/
.progress-bar-dark {
    background-color: #34495E !important;
}

.progress-bar-gray {
    background-color: #BDC3C7 !important;
}