/* 
    Created on : Feb 15, 2017, 7:39:27 PM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/
.sidebar-header {
    border-bottom: 0;
    margin-top: 46px;
}

.sidebar-header:first-of-type {
    margin-top: 0;
}