/*
 * Signup
 */
.login_box {
    padding: 20px;
    margin: auto;
}
.left {
    float: left;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.clearfix,
form {
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
.login_content {
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;

    a,
    .btn-default:hover {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    h1 {
      font: normal 25px Helvetica, Arial, sans-serif;
      letter-spacing: -0.05em;
      line-height: 20px;
      margin: 10px 0 30px;
    }
    h1:before,
    h1:after {
      content: "";
      height: 1px;
      position: absolute;
      top: 10px;
      width: 20%;
    }
    h1:after {
      background: rgb(126, 126, 126);
      background: linear-gradient(to right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
      right: 0;
    }
    h1:before {
      background: rgb(126, 126, 126);
      background: linear-gradient(to left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
      left: 0;
    }
    form {
        margin: 20px 0;
        position: relative;

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            border-radius: 3px;
            box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
            border: 1px solid #c8c8c8;
            color: #777;
            margin: 0 0 20px;
            width: 100%;

            &:focus,
            &:focus,
            &:focus {
                box-shadow: 0 0 2px #A97AAD inset;
                background-color: #fff;
                border: 1px solid #A878AF;
                outline: none;
            }
        }

        div a {
            font-size: 12px;
            margin: 10px 15px 0 0;
        }
    }

    div .reset_pass {
        margin-top: 13px !important;
        margin-right: 39px;
        float: right;
    }
}
.login_content form input[type="submit"],
#content form .submit {
    float: left;
    margin-left: 38px;
}
#username {
    background-position: 10px 10px !important
}
#password {
    background-position: 10px -53px !important
}
.reset_pass {
    margin-top: 10px !important;
}
.separator {
    border-top: 1px solid #D8D8D8;
    margin-top: 10px;
    padding-top: 10px;
}
.button {
    background: rgb(247, 249, 250);
    background: linear-gradient(to bottom, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    padding: 15px 0;

    a {
        background: url(../img/sprites.png) 0 -112px no-repeat;
        color: #7E7E7E;
        font-size: 17px;
        padding: 2px 0 2px 40px;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
            background-position: 0 -135px;
            color: #00aeef;
        }
    }
}
header {
    width: 100%;
}
