/*
    Created on : Feb 16, 2017, 10:01:33 AM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/
.tile {
    overflow: hidden;
}

.tiles {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 5px;
    margin-bottom: 0;
}

.tile-stats {
    &.sparkline {
        padding: 10px;
        text-align: center;
    }
}
