/* 
    Created on : Feb 16, 2017, 10:03:50 AM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/
.jqstooltip {
    background: $default-dark-blue !important;
    width: 30px !important;
    height: 22px !important;
    text-decoration: none;
}

.tooltip {
    display: block !important;
}