// Variables
// --------------------------------------------------

// Colors
$default-blue: #3498DB;
$default-light-blue: #73879C;
$default-dark-blue: #34495E;
$default-sky-blue: #50C1CF;
$default-aero-blue: #9CC2CB;
$default-purple: #9B59B6;
$default-green: #1ABB9C;
$default-orange: #F39C12;
$default-red: #E74C3C;
