/**
/* Thenks to http://chir.ag/projects/name-that-color for the funny color naming.
*/
$alto        : #DDDDDD;
$athens-gray : #F2F5F7;
$dodger-blue : #3399FF;
$emperor     : #555555;
$gallery     : #EFEFEF;
$gallery2    : #F0F0F0;
$mercury     : #E4E4E4;
$tall-poppy  : #C0392B;
$waikawa-gray: #5A738E;
$wild-sand   : #F4F4F4;
