/* 
    Created on : Mar 2, 2017, 11:44:59 AM
    Author     : Nissar Chababy <contact at funilrys dot com>
*/

h3 {
    &.degrees {
        font-size: 22px;
        font-weight: 400;
        text-align: center;
    }
}

.degrees:after {
    content: "o";
    position: relative;
    top: -12px;
    font-size: 13px;
    font-weight: 300;
}

.daily-weather {
    .day {
        font-size: 14px;
        border-top: 2px solid rgba(115, 135, 156, 0.36);
        text-align: center;
        border-bottom: 2px solid rgba(115, 135, 156, 0.36);
        padding: 5px 0;
    }
}

.weather-days{
    .col-sm-2 {
        overflow: hidden;
        width: 16.66666667%;
    }

}

.weather .row {
    margin-bottom: 0
}
