.left_col {
    background: #2A3F54;

    .mCSB_scrollTools {
        width: 6px;
    }

    .mCSB_dragger {
        max-height: 400px !important;
    }
}

.right_col {
    @media (max-width: 991px) {
        padding: 10px !important;
    }
}
