.panel_toolbox {
    float    : right;
    min-width: 70px;

    > li {
        float : left;
        cursor: pointer;

        > a {
           padding  : 5px;
           color    : #C5C7CB;
           font-size: 14px;

           &:hover {
               background: #F5F7FA;
           }
       }
    }
}
