.img-circle {
    &.profile_img {
        width      : 70%;
        background : #fff;
        margin-left: 15%;
        z-index    : 1000;
        position   : inherit;
        margin-top : 20px;
        border     : 1px solid rgba(52, 73, 94, 0.44);
        padding    : 4px;
    }
}

.profile {
    &.img_2 {
        text-align: center;

        .profile_info {
            padding      : 15px 10px 0;
            width        : 100%;
            margin-bottom: 10px;
            float        : left;
        }

        .profile_pic {
            width: 100%;

            .img-circle {
                &.profile_img {
                    width : 50%;
                    margin: 10px 0 0;
                }
            }
        }
    }
}

.profile_details {
    &:nth-child(3n) {
        clear: both;
    }

    .profile_left {
        background: white;
    }

    .profile_view {
        display   : inline-block;
        padding   : 10px 0 0;
        background: #fff;

        h2 {
            margin: 5px 0;
        }

        .bottom {
            background: #F2F5F7;
            padding   : 9px 0;
            border-top: 1px solid #E6E9ED;
        }

        .brief {
            margin     : 0;
            font-weight: 300;
        }

        .divider {
            border-top : 1px solid #e5e5e5;
            padding-top: 5px;
            margin-top : 5px;
        }

        .img-circle {
            border : 1px solid #E6E9ED;
            padding: 2px;
        }

        .left {
            margin-top: 20px;

            p {
                margin-bottom: 3px;
            }
        }

        .ratings {
            margin-bottom: 0;
            text-align   : left;
            font-size    : 16px;
        }

        .right {
            margin-top: 0;
            padding   : 10px;
        }
    }
}

.profile_info {
    padding: 25px 10px 10px;
    width  : 65%;
    float  : left;

    h2 {
        font-size  : 14px;
        color      : #ECF0F1;
        margin     : 0;
        font-weight: 300;
    }

    span {
        font-size  : 13px;
        line-height: 30px;
        color      : #BAB8B8;
    }
}

.profile_pic {
    width: 35%;
    float: left;
}

.profile_title {
    background: #F5F7FA;
    border    : 0;
    padding   : 7px 0;
    display   : flex;
}
