.tooltip {
    display: block !important;
}

.jqstooltip {
    background     : #34495E !important;
    width          : 30px !important;
    height         : 22px !important;
    text-decoration: none;
}
